# last modified 2015-08-26

import(stats, Rcmdr, survival, date)
importFrom("grDevices", "palette")
importFrom("graphics", "legend", "plot")
importFrom(tcltk, tkfont.create, ttkprogressbar, tkwidget, setTkProgressBar, 
    ttknotebook, tkadd, tkselect)

exportPattern("^[^\\.]")

S3method(plot, coxph)
S3method(unfold, data.frame)


