# last modified 2015-02-03

import(stats, Rcmdr, survival, date)

importFrom(tcltk, tkfont.create, ttkprogressbar, tkwidget, setTkProgressBar)

exportPattern("^[^\\.]")
# S3method(anova, coxph)
S3method(plot, coxph)
# S3method(quantile, survfit)
S3method(unfold, data.frame)

